body{
	background-image: linear-gradient(yellow,white,yellow);
	background-size: 100% 200%;
	background-repeat: no-repeat;

}
h1{
	color: maroon;
}
.cont{
	background-color: maroon;
	height:300px;
	width: 450px;
	
	border-radius: 7px;
	margin: 50px;
}
.text{
	line-height: 1.5;
	font-weight: bold;
	font-size: 25px;
	color: white;
	margin: 10px;
	padding-top: 80px;

}
button{
	height: 40px;
	background-color: maroon;
	color: white;
	font-weight: bold;
	border-radius: 7px;
	width: 120px;
	margin-top: 30px;
	
}
button:hover{
	background-color: green;
	color: white;
	cursor: pointer;

}
@media (max-width:480px){
	h1{
		margin-top: 20px;
	}
	body{
		background-size: 200% 300%;
		height: 100vh;
		
	}
	.cont{
		width: 300px;
		margin: auto;
		height: 300px;
		position: relative;
		top: 140px;
		justify-content: center;
		
	}
	button{
		position: relative;
		top:200px;
	}
}